{
  "client_id": "1506348986716651561",
  "game_mode": "Rapid • 30",
  "large_image": "chessvom",
  "large_text": "Chess",
  "small_image": "chessvom",
  "sites": {
    "chesscom": {
      "large_image": "chessvom",
      "large_text": "Chess.com",
      "small_image": "chessvom"
    },
    "lichess": {
      "large_image": "lichess",
      "large_text": "Lichess.org",
      "small_image": "lichess"
    }
  }
}